#profileId {
  border-radius: 50%;
  width: 200px !important;
  height: 200px !important;
}

#ownerName {
  font-weight: bold;
}
#summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icons {
  margin-top: 10px;
}

.connectIcon {
  font-size: 20px;
  margin-right: 10px;
}

.skills-section {
  padding: 20px;
}

.social-media-icon{
  color: black;
}

.social-media-icon :hover{
  color: var(--primary);
  scale: 1.09;
  transition: 1s ease;
}

@media (max-width: 768px) {
  .connectIcon {
    font-size: 18px;
  }

  .skillList {
    margin-bottom: 20px;
  }
  #profileId {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  #summary {
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .home-col {
    display: flex;
    justify-content: center;
  }

  #profileId {
    margin-bottom: 15px;
  }
}
