* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --primary: rgb(22 119 255);
  --secondary : black;
}

.pageTile{
  text-align: center;
  margin-bottom: 10px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}