.card-sub-title,
.card-sub-title-from {
  font-style: italic;
  font-weight: 500;
}

.card {
  width: 800px;
}

.card .ant-card-head,
.card .ant-card-extra {
  background-color: var(--primary) !important;
  color: white;
}
